### Loan Dataset Cross-Validation

In [6]:
%cd /Users/andrescrucettanieto/Documents/GitHub/notebooks

[Errno 2] No such file or directory: '/Users/andrescrucettanieto/Documents/GitHub/notebooks'
/Users/andrescrucettanieto/Documents/GitHub/missing_data_project

In [2]:
import numpy as np
import pandas as pd
import sys  
sys.path.insert(0, '../utils')
import cross_validation as cv
import utils

ModuleNotFoundError: No module named 'cross_validation'

In [4]:
loany, loanx = utils.read_in('data/loan_default_data/Training Data.csv','Loan')

loan_results = utils.cross_validation(loanx, loany, 60615, ["instant", "dteday"], iters=10)
# bikeresults

In [6]:
loanx

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14
...,...,...,...,...,...,...,...,...,...,...,...,...
251995,251996,8154883,43,13,single,rented,no,Surgeon,Kolkata,West_Bengal,6,11
251996,251997,2843572,26,10,single,rented,no,Army_officer,Rewa,Madhya_Pradesh,6,11
251997,251998,4522448,46,7,single,rented,no,Design_Engineer,Kalyan-Dombivli,Maharashtra,7,12
251998,251999,6507128,45,0,single,rented,no,Graphic_Designer,Pondicherry,Puducherry,0,10
251999,252000,9070230,70,17,single,rented,no,Statistician,Avadi,Tamil_Nadu,7,11